/* GENERAL */

* {
  background-color: rgb(210, 38, 245);
  color: red;
}
h1 {
  font-size: 30px;
}

/* HEADER */
.headerGroup {
  display: flex;
  justify-content: space-between;
}

/* APP */
.App {
  margin-left: auto;
  margin-right: auto;
}
